/****************
  Colors
****************/
/*******************
  Padding
*******************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  color: #4d6ac4; }

a,
a:link,
a:active {
  text-decoration: none;
  color: black; }

.text {
  color: #9b9eaa;
  font-size: 1.6rem; }
  .text--purple {
    color: #4d6ac4; }
  .text--darker {
    color: #09090a; }
  .text--big {
    font-size: 1.8rem; }
  .text--small {
    font-size: 1.4rem; }
  .text--light {
    font-weight: 200; }
  .text--medium {
    font-weight: 300; }
  .text--upper {
    text-transform: uppercase; }

.title {
  color: #4d6ac4;
  font-weight: 600;
  font-size: 1.8rem; }
  .title--big {
    font-size: 2rem; }

.content-box {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .content-box:not(:last-child) {
    margin-bottom: 3rem; }

.icon {
  height: 3rem;
  width: 3rem;
  fill: #738ad1; }
  .icon--white {
    fill: white; }
  .icon--grey {
    fill: #9b9eaa; }
  .icon--small {
    height: 2.5rem;
    width: 2.5rem; }

.icon__container {
  padding: 1rem;
  border: 0.1rem solid #4d6ac4;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  place-items: center;
  margin-top: 2rem;
  box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .icon__container--purple {
    background: #738ad1; }
  .icon__container:not(:last-child) {
    margin-right: 4rem; }

.online-button {
  width: 1rem;
  height: 1rem;
  background: #32CD32;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  top: 2rem;
  box-shadow: 0 0 0 0.5rem #c2f0c2; }

.profile {
  position: relative;
  width: 90%; }
  .profile__details {
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .profile__details__contact {
      display: flex;
      justify-content: center; }
  .profile__image {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.info {
  padding: 3rem 2rem;
  padding-bottom: 2rem; }
  .info__item {
    display: flex;
    place-items: center; }
    .info__item:not(:last-child) {
      margin-bottom: 2rem; }
  .info__icon {
    margin-right: 2rem; }
  .info__text {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .info__map {
    position: relative;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/map.jpg);
    height: 20rem; }
  .info__details {
    position: absolute;
    width: 70%;
    top: 15%;
    right: 10%;
    clip-path: polygon(0% 8%, 100% 0%, 100% 100%, 10% 100%);
    border-radius: 1.5rem 0.5rem 0.5rem 3rem;
    background: white;
    padding: 0.8rem 1.2rem;
    padding-left: 3.5rem; }
  .info__marker {
    width: 1rem;
    height: 1rem;
    background: #738ad1;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0 0.5rem rgba(115, 138, 209, 0.35), 0 0 0 1rem rgba(115, 138, 209, 0.35); }
    .info__marker--1 {
      top: 30%;
      left: 10%; }
    .info__marker--2 {
      bottom: 3rem;
      left: 45%; }

.header {
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    text-transform: uppercase;
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-size: 2.5rem; }
  .header__logo-image {
    height: 2rem;
    width: 2rem; }

.nav__list {
  list-style: none;
  display: flex;
  align-items: center; }

.nav__item:not(:last-child) {
  margin-right: 3rem; }

.nav__image {
  height: 2.5rem;
  width: 2.5rem;
  fill: #9b9eaa; }
  .nav__image:hover {
    fill: #4d6ac4; }

.user {
  display: flex; }
  .user__avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 0.2rem solid white;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .user__text {
    align-self: center;
    margin-left: 1rem; }

.heading {
  display: flex;
  justify-content: space-between; }
  .heading__dots {
    align-self: center;
    height: 3rem;
    width: 3rem;
    fill: #4d6ac4; }

.trip__dates {
  display: flex;
  align-items: center; }
  .trip__dates-image {
    height: 2.5rem;
    width: 2.5rem;
    fill: #9b9eaa;
    margin-right: 1rem; }
  .trip__dates-date {
    font-size: 1.8rem;
    color: #9b9eaa; }

.trip__location {
  font-size: 3.5rem;
  font-weight: 300;
  color: #4d6ac4; }

.content {
  background: #f2f5fa;
  padding: 4rem 6rem; }

.main-content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 1.3fr; }
