/****************
  Colors
****************/

$background-color: #f2f5fa;
$primary-color: #4d6ac4;
$primary-light-color: #99b0e4;
$icon-color: lighten($primary-color, 10%);
$primary-dark-color: #2b354f;
$green-color: #5f8f56;
$green-light-color: #64a1b3;
$grey-color: #9b9eaa;
$notification-color: #32CD32;


/*******************
  Padding
*******************/

$main-padding: 6rem;