.header {
  padding: 1.5rem $main-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    text-transform: uppercase;
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }

  &__logo-image {
    height: 2rem;
    width: 2rem;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 3rem;
  }

  &__image {
    height: 2.5rem;
    width: 2.5rem;
    fill: $grey-color;

    &:hover {
      fill: $primary-color;
    }
  }
}

.user {
  display: flex;

  &__avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 0.2rem solid white;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.2);
  }

  &__text {
    align-self: center;
    margin-left: 1rem;
  }
}
