.icon {
  height: 3rem;
  width: 3rem;
  fill: $icon-color;

  &--white {
    fill: white;
  }

  &--grey {
    fill: lighten($grey-color, 15%);
  }

  &--small {
    height: 2.5rem;
    width: 2.5rem;
  }

  &--tiny {
    height: 2rem;
    width: 2rem;
  }
}

.icon__container {
  padding: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  place-items: center;
  background: white;

  &--small {
    height: 3.5rem;
    width: 3.5rem;
  }

  &--tiny {
    height: 2.5rem;
    width: 2.5rem;
    padding: .3rem;
  }

  &--purple {
    background: $icon-color;  
  }

  &--margin {
    margin-top: 2rem;
  }

  &--border {
    border: 0.1rem solid $primary-color;
  }

  &--shadow {
    box-shadow: .3rem .5rem 1rem rgba(black, 0.2);
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }

  &--r-margin {
    margin-right: 1rem !important;
  }
}

