.text {
  color: $grey-color;
  font-size: 1.6rem;

  &--underline {
    text-decoration: underline;
  }

  &--purple {
    color: $primary-color;
  }

  &--d-purple {
    color: $primary-dark-color;
  }

  &--lighter {
    color: lighten($grey-color, 10%);
  }

  &--darker {
    color: darken($grey-color, 20%);
  }

  &--big {
    font-size: 1.8rem;
  }

  &--small {
    font-size: 1.4rem;
  }

  &--light {
    font-weight: 200;
  }

  &--medium {
    font-weight: 300;
  }

  &--upper {
    text-transform: uppercase;
  }
}

.title {
  color: $primary-color;
  font-weight: 600;
  font-size: 1.8rem;

  &--big {
    font-size: 2rem;
  }
}


.m-bottom {
  margin-bottom: 2rem;
}

.p-bottom {
  padding-bottom: 1rem;
}